/* view pages */
div#z-maincontent.z-module-musound table tbody tr td {
    vertical-align: top;
}

/* display pages */
.musound-display.with-rightbox div.z-panel-content {
    float: left;
    width: 79%;
}
.musound-display div.musound-rightbox {
    float: right;
    margin: 0 1em;
    padding: .5em;
    width: 40%;
    /*border: 1px solid #666;*/
}

.musound-display div.musound-rightbox h3 {
    color: #333;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.musound-display div.musound-rightbox p.managelink {
    margin-left: 18px;
}
/* validation */
div.z-formrow input.required, div.z-formrow textarea.required {
    /*border: 1px solid #00a8e6;*/
    background-color: #ffffff;
}
div.z-formrow input.validation-failed, div.z-formrow textarea.validation-failed {
    border: 1px solid #f30;
    color: #f30;
}
div.z-formrow input.validation-passed, div.z-formrow textarea.validation-passed {
    border: 1px solid #0c0;
    color: #000;
}

.validation-advice {
    margin: 5px 0;
    padding: 5px;
    background-color: #f90;
    color: #fff;
    font-weight: 700;
}

/* edit pages */
form.z-form select.z-form-dropdownlist,
form.z-form input.z-form-upload {
    float: left;
}
div.musound-relation-leftside {
    float: left;
    width: 25%;
}

div.musound-relation-rightside {
    float: right;
    width: 65%;
}

/* hide legends if z-panels are used as both contain the same labels */
div.musound-edit .z-panel-content legend {
    display: none;
}


div.musound-autocomplete,
div.musound-autocomplete-withimage {
    position: relative !important;
    top: 2px !important;
    width: 500px !important;
    background-color: #fff;
    border: 1px solid #888;
    margin: 0;
    padding: 0;
}

div.musound-autocomplete,
div.musound-autocomplete-with-image {
    left: 0 !important;
}
div.musound-autocomplete ul,
div.musound-autocomplete-with-image ul {
    margin: 0;
    padding: 0;
    width: 475px !important;
}

div.musound-autocomplete ul li,
div.musound-autocomplete-with-image ul li {
    margin: 0;
    padding: 0.2em 0 0.2em 20px;
    list-style-type: none;
    line-height: 1.4em;
    cursor: pointer;
    display: block;
    background-position: 2px 2px;
    background-repeat: no-repeat;
}

div.musound-autocomplete ul li {
    background-image: url("../../../images/icons/extrasmall/tab_right.png");
}
div.musound-autocomplete-with-image ul li {
    background-image: url("../../../images/icons/extrasmall/agt_Multimedia.png");
}

div.musound-autocomplete ul li.selected,
div.musound-autocomplete-with-image ul li.selected {
    background-color: #ffb;
}

div.musound-autocomplete ul li div.itemtitle,
div.musound-autocomplete-with-image ul li div.itemtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2em;
}
div.musound-autocomplete ul li div.itemdesc,
div.musound-autocomplete-with-image ul li div.itemdesc {
    font-size: 10px;
    color: #888;
}

button.musound-inline-button {
    margin-top: 1em;
}

div.musound-view form.musound-quicknav {
    margin: 10px 0;
    padding: 8px 12px;
    border: 1px solid #ccc;
}

div.musound-view form.musound-quicknav fieldset {
    padding: 3px 10px;
    margin-bottom: 0;
}

div.musound-view form.musound-quicknav fieldset h3 {
    margin-top: 0;
    display: none;
}

div.musound-view form.musound-quicknav fieldset #num {
    width: 50px;
    text-align: right;
}

#wrapper2 .ttw-music-player {
    background: #333;
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 10px;
}

.rating, .duration {
    display: none !important;	
}

.musound-album-cover {
	float: left;
	margin: 10px 25px 10px 0;
}

.musound-album-description {
	width:98%;
	margin: 10px 0 10px 10px;
}

.musound-imageviewer {
	text-decoration: none;
}

.movecursor {
    cursor: move;	
    margin: 0 0 15px 0;
}

.movetrack {
	background: #eee;
	clear: both;
}

/*******************AUDIO.JS********************/


#wrapper .audiojs {
	clear: both;
}

#wrapper .audiojs .progress {
	border-radius: 0;	
}

#wrapper ol {
	padding: 0px;
	margin: 0 0 0 25px;
	list-style: decimal-leading-zero inside;
	width: 80%;
	/* [disabled]border-top: 1px solid #ccc; */
	font-size: 1.2em;
	}
	
#wrapper ol li {
	position: relative;
	width: 80%;
	margin: 0px;
	padding: 9px 2px 10px;
	/* [disabled]border-bottom: 1px solid #ccc; */
	cursor: pointer;
	}
	
#wrapper ol li a { 
	text-indent: -3.3ex; 
	padding: 0px 0px 0px 20px;
	}
      
#wrapper li.playing {
	color: #222;
	/* [disabled]text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); */

	}
      
#wrapper li.playing a { 
	color: #222;
	font-weight: 400;
	}
      
#wrapper li.playing:before {
	content: '♬';
	width: 14px;
	height: 14px;
	padding: 3px;
	line-height: 14px;
	margin: 0px;
	position: absolute;
	left: -24px;
	top: 9px;
	color: #222;
	font-size: 1.2em;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
	}
      
#shortcuts { 
	width: 100%; 
	color: #666; 
	font-size: 0.9em; 
	margin: 20px 0px 0px; 
	padding: 20px 20px 15px; 
	}

#shortcuts div { 
	margin: 0px auto; 
	}

#shortcuts h1 { 
	margin: 0px 0px 6px; 
	}

#shortcuts p { 
	margin: 0px 0px 18px; 
	}
      
#shortcuts em { 
	font-style: normal; 
	background: #d3d3d3; 
	padding: 3px 9px; 
	position: relative; 
	left: -3px;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    -o-border-radius: 4px; 
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
    -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
    }
    
#wrapper .audiojs .time .duration {
	display: inline !important;
}

@media screen and (max-device-width: 480px) {
	
		.musound-album-cover {
		float: none;
	}
	
	.musound-album-cover a img {
		width: 100%;
		height: auto;
	}
    #wrapper { 
    	position: relative; 
    	left: -3%; 
    }
    
    #shortcuts { 
    	display: none; 
    }
    
    .musound-album-description {
    	float: left;
    	width: 100%;
    	margin: 10px 0 10px 10px;
	}
	
	#wrapper .audiojs {
		width: 100%;
		height: 30px;
		padding: 0 2px;
	}

	#wrapper .audiojs .play-pause {
		width: 20%;
	}

	#wrapper .audiojs .scrubber {
		width: 40%;
	}

	#wrapper .audiojs .time {
		width: 30%;
	}
