{# purpose of this template: tracks admin index view #}
{% extends 'MUSoundModule::adminBase.html.twig' %}
{% block title __('tracks') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the track section of the Sound application.') }}</p>
{% endblock %}
