{# Purpose of this template: Display tracks within an external context #}
{% for track in items %}
    <h3>{{ track|musoundmodule_formattedTitle }}</h3>
    <p><a href="{{ path('musoundmodule_track_display', {'id': track.getId()}) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
