{# purpose of this template: collections user index view #}
{% extends 'MUSoundModule::base.html.twig' %}
{% block title __('collections') %}
{% block content %}
    <p>{{ __('Welcome to the collection section of the Sound application.') }}</p>
{% endblock %}
